<p id="user-id" value="{{user.id}}"></p>
{{#each user.items as |item|}}
    <div class="row mx-auto my-4">
        <div class="col-md-4">
            <div class="d-flex flex-md-column justify-content-between text-center">
                <img class="playlist-display" src="{{item.images.[0].url}}"/>
            </div>
        </div>
        <div class="col-md-6 w-75 d-flex align-items-center">
            <div>
                <div class="text-light">
                    <h2 style="letter-spacing: 0.02em;" class="display-4">{{item.name}}</h2>
                    <p>{{item}}</p>
                    <form id='sendNewContent'>
                        <input class="lead">Lorem iinputsum dolor sit amet.</input> 
                        {{!-- <input id="user-id" style="display: none;" value="{{user.id}}"></input> --}}
                        <input id="p-name" style="display: none;" value="{{item.name}}"></input>
                        <input id="p-uri"style="display: none;" value="{{item.uri}}"></input>
                        <input id="plength" style="display: none;" value="{{item.length}}"></input>
                        <input id="p-id" style="display: none;" value="{{item.id}}"></input>
                        <button type='submit' class="playlist-button btn btn-outline-light" id="addHome">Share Playlist</button>
                    </form>
                    
                </div>
            </div>
        </div>
    
        {{!-- <div class="col-md-2">
            <div class="d-flex flex-column">
                <div class="flex-fill bg-light p-4">
                    <form id="add-playlist-form">
                        <p id="p-name" style="display: none;">{{item.name}}</p>
                        <p id="p-uri"style="display: none;">{{item.uri}}</p>
                        <p id="p-length" style="display: none;">3</p>
                        <p id="p-id" style="display: none;">{{item.id}}</p>
                        <button class="playlist-button" id="add-to-home" type="submit">Share Playlist</button>
                    </form>    
                </div>
            </div>
        </div> --}}
    </div>
{{/each}}


